{% extends 'base.html' %}
{% block content %}
    <h2>Описание задания</h2>
    <p>
        Написать python веб приложение заполнения формы обратной связи с сохранением результата в базу
        данных. Приложение должно реализовывать возможность просмотра и удаления добавленных записей.
    </p>
    <p>
        <em>Добавление комментариев.</em> После запуска приложения при обращении по относительному пути
        /comment/ должна отображаться форма для заполнения. Форма состоит из следующих полей:
        <ul>
            <li>фамилия</li>
            <li>имя</li>
            <li>отчество</li>
            <li>регион</li>
            <li>город</li>
            <li>контактный телефон</li>
            <li>e-mail</li>
            <li>комментарий</li>
        </ul>
    </p>
    <p>
        Поля фамилия, имя и комментарий являются обязательными. Поле комментарий текстовое. Для полей
        телефон и email следует производить проверку ввода. Номер телефона в формате «(код города) номер».
        Поля с некорректным вводом и не заполненные обязательные поля должны визуально выделяться
        красным цветом. Поля регион и город являются выпадающими списками, при этом список выбора поля
        город зависит от выбранного поля регион. Данные для этих списков должны храниться в СУБД.
        Значение в поля город должно динамически подгружаться по технологии ajax в соответствии с
        выбранным полем регион. Таблица соответствия для примера:
        <table class="table table-bordered">
          <tr>
            <th>Регион</th>
            <th>Город</th>
          </tr>
          <tr>
            <td rowspan="3">Краснодарский край</td>
            <td>Краснодар</td>
          </tr>
          <tr>
            <td>Кропоткин</td>
          </tr>
          <tr>
            <td>Славянск</td>
          </tr>
          <tr>
            <td rowspan="3">Ростовская<br>область</td>
            <td>Ростов</td>
          </tr>
          <tr>
            <td>Шахты</td>
          </tr>
          <tr>
            <td>Батайск</td>
          </tr>
          <tr>
            <td rowspan="3">Ставропольский<br>край</td>
            <td>Ставрополь</td>
          </tr>
          <tr>
            <td>Пятигорск</td>
          </tr>
          <tr>
            <td>Кисловодск</td>
          </tr>
        </table>
    </p>
    <p>
        <em>Просмотр комментариев.</em> При обращении по относительному пути /view/ должна выводиться таблица
        со списком добавленных комментариев. В этом же представлении должна быть возможность удалить
        определенную запись.
    </p>
    <p>
        <em>Удаление комментариев.</em> В представлении просмотра комментариев реализовать возможность удаления
        отдельно выбранного комментария.
    </p>
    <p>
        <em>Просмотр статистики.</em>  При обращении по относительному пути /stat/ должна выводиться таблица со
        списком тех регионов у которых количество комментариев больше 5, выводить так же и количество
        комментариев по каждому региону. Каждая строчка должны быть ссылкой на список города этого
        региона в котором отображается количество комментариев по этому городу.
    </p>

{% endblock content %}
